.filter-form {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.filter-form .form-control {
    flex: 1 1 15%;
}

@media screen and (max-width: 450px) {
    .filter-form {
        flex-direction: column;
        align-items: center;
    }

    .filter-submit {
        width: 100%;
    }
}